/* Importação de fonte, se necessário (usei Arial como fallback) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-dark-blue: #020617; /* Fundo principal escuro */
    --color-card-blue: #13192B;
    --color-header: rgba(15, 23, 42, 0.8) /* Fundo do container de login (um pouco mais claro que o principal) */
    --color-text-light: #F0F0F0; /* Cor do texto claro */
    --color-input-bg: #FFFFFF; /* Fundo do campo de input */
    --color-button-blue: #007BFF; /* Azul do botão "Entrar" */
    --color-button-hover: #0069D9; /* Azul mais escuro no hover */
    --color-link: #8A8F9E; /* Cor dos links/texto secundário */
    --color-logo-yellow: #FFC107; /* Amarelo/Laranja para destaque do logo */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.login-container {
    background-color: var(--color-card-blue);
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 2px solid #1e293b;
}

.login-title {
    font-size: 1.75rem;
    margin-bottom: 30px;
    font-weight: 400; 
    color: var(--color-text-light);
}

/* --- Formulário --- */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre os grupos de formulário */
    margin-bottom: 15px;
}

.form-group {
    text-align: left; /* Alinha o label à esquerda */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--color-link);
}

.form-group input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-input-bg);
    color: #333; /* Cor do texto digitado no input */
    font-size: 1rem;
    outline: none;
}


.form-group input::placeholder {
    color: #A0A0A0; /* Cor do texto de dica */
}

/* --- Botão --- */
.btn-entrar {
    width: 100%;
    padding: 12px;
    margin-top: 10px; 
    background-color: var(--color-button-blue);
    color: var(--color-text-light);
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
}

.btn-entrar:hover {
    background-color: var(--color-button-hover);
}



